{% extends ['modal.html.twig', '@template/layout/modal.html.twig'] %}

{% block header %}{% if not article.options.modal_disable_header|default(false) %}{{ parent() }}{% endif %}{% endblock %}
{% block body %}{% if not article.options.modal_raw_body|default(false) %}{{ parent() }}{% else %}{{ article.content|raw }}{% endif %}{% endblock %}
{% block body_classes %}{{ article.options.modal_body_classes|default('') }}{% endblock %}

{% block title %}{{ article.title|default('') }}{% endblock %}

{% block content %}
    {{ article.content|raw }}
{% endblock %}

{% block footer %}{% if not article.options.modal_disable_footer|default(false) %}{{ parent() }}{% endif %}{% endblock %}

{% block actions %}
    <button type="button" class="btn btn-default margin-0" data-dismiss="modal">{{ 'action.close'|trans }}</button>
{% endblock %}
