{% extends ['modal.html.twig', '@template/layout/modal.html.twig'] %}

{% block content %}
    <div class="text-center">
        <i class="fa fa-chain-broken font-size-80"></i>
        <p class="m-b-0">{{ 'cms.article_not_found'|trans }}</p>
    </div>
{% endblock %}

{% block actions %}
    <button type="button" class="btn btn-default margin-0" data-dismiss="modal">{{ 'action.close'|trans }}</button>
{% endblock %}
